<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8"> <![endif]-->
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="Citytours - Premium site template for city tours agencies, transfers and tickets.">
    <meta name="author" content="Ansonika">
    <title>CITY TOURS - City tours and travel site template by Ansonika</title>
    
    <!-- Favicons-->
    <link rel="shortcut icon" href="{{url('/')}}/src/citytour/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="{{url('/')}}/src/citytour/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{{url('/')}}/src/citytour/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{{url('/')}}/src/citytour/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{{url('/')}}/src/citytour/img/apple-touch-icon-144x144-precomposed.png">
	
	<!-- Google web fonts -->
    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Lato:300,400|Montserrat:400,400i,700,700i" rel="stylesheet">

    <!-- CSS -->
    <link href="{{url('/')}}/src/citytour/css/base.css" rel="stylesheet">
    
    <!-- SPECIFIC CSS -->
    <link href="{{url('/')}}/src/citytour/css/skins/square/grey.css" rel="stylesheet">
    <link href="{{url('/')}}/src/citytour/css/date_time_picker.css" rel="stylesheet">
        
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
        
</head>
<body>

<!--[if lte IE 8]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
<![endif]-->

    <div id="preloader">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>
    <!-- End Preload -->

    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->

     <!-- Header================================================== -->
    <header>
        <div id="top_line">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6"><i class="icon-phone"></i><strong>0045 043204434</strong></div>
                    
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <ul id="top_links">
                            <li>
                                <div class="dropdown dropdown-access">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="access_link">Sign in</a>
                                    <div class="dropdown-menu">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <a href="#" class="bt_facebook">
                                                    <i class="icon-facebook"></i>Facebook </a>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <a href="#" class="bt_paypal">
                                                    <i class="icon-paypal"></i>Paypal </a>
                                            </div>
                                        </div>
                                        <div class="login-or">
                                            <hr class="hr-or">
                                            <span class="span-or">or</span>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="inputUsernameEmail" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                        </div>
                                        <a id="forgot_pw" href="#">Forgot password?</a>
                                        <input type="submit" name="Sign_in" value="Sign in" id="Sign_in" class="button_drop">
                                        <input type="submit" name="Sign_up" value="Sign up" id="Sign_up" class="button_drop outline">
                                    </div>
                                </div><!-- End Dropdown access -->
                            </li>
                            <li><a href="wishlist.html" id="wishlist_link">Wishlist</a></li>
                        </ul>
                    </div>
                </div><!-- End row -->
            </div><!-- End container-->
        </div><!-- End top line-->
        
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div id="logo_home">
                    	<h1><a href="index.html" title="City tours travel template">City Tours travel template</a></h1>
                    </div>
                </div>
                <nav class="col-md-9 col-sm-9 col-xs-9">
                    <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                    <div class="main-menu">
                        <div id="header_menu">
                            <img src="{{url('/')}}/src/citytour/img/logo_sticky.png" width="160" height="34" alt="City tours" data-retina="true">
                        </div>
                        <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                        <ul>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">Home <i class="icon-down-open-mini"></i></a>
                                <ul>
                                    <li><a href="javascript:void(0);">Revolution slider</a>
                                        <ul>
                                            <li><a href="index.html">Default slider</a></li>
                                            <li><a href="index_20.html">Advanced slider</a></li>
                                            <li><a href="index_14.html">Youtube Hero</a></li>
                                            <li><a href="index_15.html">Vimeo Hero</a></li>
                                            <li><a href="index_17.html">Youtube 4K</a></li>
                                            <li><a href="index_16.html">Carousel</a></li>
                                            <li><a href="index_19.html">Mailchimp Newsletter</a></li>
                                            <li><a href="index_18.html">Fixed Caption</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="index_12.html">Layer slider</a></li>
                                    <li><a href="index_2.html">With Only tours</a></li>
                                    <li><a href="index_3.html">Single image</a></li>
                                    <li><a href="index_4.html">Header video</a></li>
                                    <li><a href="index_7.html">With search panel</a></li>
                                    <li><a href="index_13.html">With tabs</a></li>
                                    <li><a href="index_5.html">With map</a></li>
                                    <li><a href="index_6.html">With search bar</a></li>
                                    <li><a href="index_8.html">Search bar + Video</a></li>
                                    <li><a href="index_9.html">With Text Rotator</a></li>
                                    <li><a href="index_10.html">With Cookie Bar (EU law)</a></li>
                                    <li><a href="index_11.html">Popup Advertising</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">Tours <i class="icon-down-open-mini"></i></a>
                                <ul>
                                    <li><a href="all_tours_list.html">All tours list</a></li>
                                    <li><a href="all_tours_grid.html">All tours grid</a></li>
                                    <li><a href="all_tours_map_listing.html">All tours map listing</a></li>
                                    <li><a href="single_tour.html">Single tour page</a></li>
                                    <li><a href="single_tour_with_gallery.html">Single tour with gallery</a></li>
                                    <li><a href="javascript:void(0);">Single tour fixed sidebar</a>
                                        <ul>
                                            <li><a href="single_tour_fixed_sidebar.html">Single tour fixed sidebar</a></li>
                                            <li><a href="single_tour_with_gallery_fixed_sidebar.html">Single tour 2 Fixed Sidebar</a></li>
                                            <li><a href="cart_fixed_sidebar.html">Cart Fixed Sidebar</a></li>
                                            <li><a href="payment_fixed_sidebar.html">Payment Fixed Sidebar</a></li>
                                            <li><a href="confirmation_fixed_sidebar.html">Confirmation Fixed Sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="single_tour_working_booking.php">Single tour working booking</a></li>
                                    <li><a href="cart.html">Single tour cart</a></li>
                                    <li><a href="payment.html">Single tour booking</a></li>
                                </ul>
                            </li>
                             <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">Hotels <i class="icon-down-open-mini"></i></a><ul>
                                    <li><a href="all_hotels_list.html">All hotels list</a></li>
                                    <li><a href="all_hotels_grid.html">All hotels grid</a></li>
                                    <li><a href="all_hotels_map_listing.html">All hotels map listing</a></li>
                                    <li><a href="single_hotel.html">Single hotel page</a></li>
                                    <li><a href="single_hotel_datepicker_adv.html">Single hotel datepicker adv</a></li>
                                    <li><a href="single_hotel_working_booking.php">Single hotel working booking</a></li>
                                    <li><a href="single_hotel_contact.php">Single hotel contact working</a></li>
                                    <li><a href="cart_hotel.html">Cart hotel</a></li>
                                    <li><a href="payment_hotel.html">Booking hotel</a></li>
                                    <li><a href="confirmation_hotel.html">Confirmation hotel</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">Transfers <i class="icon-down-open-mini"></i></a>
                                <ul>
                                    <li><a href="all_transfer_list.html">All transfers list</a></li>
                                    <li><a href="all_transfer_grid.html">All transfers grid</a></li>
                                    <li><a href="single_transfer.html">Single transfer page</a></li>
                                    <li><a href="cart_transfer.html">Cart transfers</a></li>
                                    <li><a href="payment_transfer.html">Booking transfers</a></li>
                                    <li><a href="confirmation_transfer.html">Confirmation transfers</a></li>
                                </ul>
                            </li>
                              <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">Restaurants <i class="icon-down-open-mini"></i></a>
                                <ul>
                                    <li><a href="all_restaurants_list.html">All restaurants list</a></li>
                                    <li><a href="all_restaurants_grid.html">All restaurants grid</a></li>
                                    <li><a href="all_restaurants_map_listing.html">All restaurants map listing</a></li>
                                    <li><a href="single_restaurant.html">Single restaurant page</a></li>
                                    <li><a href="payment_restaurant.html">Booking restaurant</a></li>
                                    <li><a href="confirmation_restaurant.html">Confirmation transfers</a></li>
                                </ul>
                            </li>
                             <li class="megamenu submenu">
                                <a href="javascript:void(0);" class="show-submenu-mega">Bonus<i class="icon-down-open-mini"></i></a>
                                <div class="menu-wrapper">
                                    <div class="col-md-4">
                                        <h3>Header styles</h3>
                                        <ul>
                                            <li><a href="index.html">Default transparent</a></li>
                                            <li><a href="header_2.html">Plain color</a></li>
                                            <li><a href="header_3.html">Plain color on scroll</a></li>
                                            <li><a href="header_4.html">With socials on top</a></li>
                                            <li><a href="header_5.html">With language selection</a></li>
                                            <li><a href="header_6.html">With lang and conversion</a></li>
                                            <li><a href="header_7.html">With full horizontal menu</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <h3>Footer styles</h3>
                                        <ul>
                                            <li><a href="index.html">Footer default</a></li>
                                            <li><a href="footer_2.html">Footer style 2</a></li>
                                            <li><a href="footer_3.html">Footer style 3</a></li>
                                            <li><a href="footer_4.html">Footer style 4</a></li>
                                            <li><a href="footer_5.html">Footer style 5</a></li>
                                            <li><a href="footer_6.html">Footer style 6</a></li>
                                            <li><a href="footer_7.html">Footer style 7</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <h3>Shop</h3>
                                        <ul>
                                            <li><a href="shop.html">Shop</a></li>
                                            <li><a href="shop-single.html">Shop single</a></li>
                                            <li><a href="shopping-cart.html">Shop cart</a></li>
                                            <li><a href="checkout.html">Shop Checkout</a></li>
                                        </ul>
                                    </div>
                                </div><!-- End menu-wrapper -->
                            </li>
                            <li class="megamenu submenu">
                                <a href="javascript:void(0);" class="show-submenu-mega">Pages<i class="icon-down-open-mini"></i></a>
                                <div class="menu-wrapper">
                                    <div class="col-md-4">
                                        <h3>Pages</h3>
                                        <ul>
                                            <li><a href="about.html">About us</a></li>
                                           <li><a href="general_page.html">General page</a></li>
                                            <li><a href="tourist_guide.html">Tourist guide</a></li>
                                             <li><a href="wishlist.html">Wishlist page</a></li>
                                             <li><a href="faq.html">Faq</a></li>
                                             <li><a href="faq_2.html">Faq smooth scroll</a></li>
                                             <li><a href="pricing_tables.html">Pricing tables</a></li>
                                             <li><a href="gallery_3_columns.html">Gallery 3 columns</a></li>
                                            <li><a href="gallery_4_columns.html">Gallery 4 columns</a></li>
                                            <li><a href="grid_gallery_1.html">Grid gallery</a></li>
                                            <li><a href="grid_gallery_2.html">Grid gallery with filters</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <h3>Pages</h3>
                                        <ul>
                                            <li><a href="contact_us_1.html">Contact us 1</a></li>
                                            <li><a href="contact_us_2.html">Contact us 2</a></li>
                                             <li><a href="blog_right_sidebar.html">Blog</a></li>
                                            <li><a href="blog.html">Blog left sidebar</a></li>
                                            <li><a href="login.html">Login</a></li>
                                            <li><a href="register.html">Register</a></li>
                                            <li><a href="invoice.html" target="_blank">Invoice</a></li>
                                            <li><a href="404.html">404 Error page</a></li>
                                            <li><a href="site_launch/index.html">Site launch / Coming soon</a></li>
                                            <li><a href="timeline.html">Tour timeline</a></li>
                                            <li><a href="page_with_map.html"><i class="icon-map"></i>  Full screen map</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <h3>Elements</h3>
                                         <ul>
                                            <li><a href="footer_2.html"><i class="icon-columns"></i> Footer with working newsletter</a></li>
                                            <li><a href="footer_5.html"><i class="icon-columns"></i> Footer with Twitter feed</a></li>
                                            <li><a href="icon_pack_1.html"><i class="icon-inbox-alt"></i> Icon pack 1 (1900)</a></li>
                                            <li><a href="icon_pack_2.html"><i class="icon-inbox-alt"></i> Icon pack 2 (100)</a></li>
                                            <li><a href="icon_pack_3.html"><i class="icon-inbox-alt"></i> Icon pack 3 (30)</a></li>
                                            <li><a href="icon_pack_4.html"><i class="icon-inbox-alt"></i> Icon pack 4 (200)</a></li>
                                            <li><a href="icon_pack_5.html"><i class="icon-inbox-alt"></i> Icon pack 5 (360)</a></li>
                                            <li><a href="shortcodes.html"><i class="icon-tools"></i> Shortcodes</a></li>
                                            <li><a href="newsletter_template/newsletter.html" target="blank"><i class=" icon-mail"></i> Responsive email template</a></li>
                                            <li><a href="admin.html"><i class="icon-cog-1"></i>  Admin area</a></li>
                                            <li><a href="general_page.html"><i class="icon-light-up"></i>  Weather Forecast</a></li>                                             
                                        </ul>
                                    </div>
                                </div><!-- End menu-wrapper -->
                            </li>
                        </ul>
                    </div><!-- End main-menu -->
                    <ul id="top_tools">
                        <li>
                            <div class="dropdown dropdown-search">
                                <a href="#" class="search-overlay-menu-btn" data-toggle="dropdown"><i class="icon-search"></i></a>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown dropdown-cart">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class=" icon-basket-1"></i>Cart (0) </a>
                                <ul class="dropdown-menu" id="cart_items">
                                    <li>
                                        <div class="image"><img src="{{url('/')}}/src/citytour/img/thumb_cart_1.jpg" alt="image"></div>
                                        <strong>
										<a href="#">Louvre museum</a>1x $36.00 </strong>
                                        <a href="#" class="action"><i class="icon-trash"></i></a>
                                    </li>
                                    <li>
                                        <div class="image"><img src="{{url('/')}}/src/citytour/img/thumb_cart_2.jpg" alt="image"></div>
                                        <strong>
										<a href="#">Versailles tour</a>2x $36.00 </strong>
                                        <a href="#" class="action"><i class="icon-trash"></i></a>
                                    </li>
                                    <li>
                                        <div class="image"><img src="{{url('/')}}/src/citytour/img/thumb_cart_3.jpg" alt="image"></div>
                                        <strong>
										<a href="#">Versailles tour</a>1x $36.00 </strong>
                                        <a href="#" class="action"><i class="icon-trash"></i></a>
                                    </li>
                                    <li>
                                        <div>Total: <span>$120.00</span></div>
                                        <a href="cart.html" class="button_drop">Go to cart</a>
                                        <a href="payment.html" class="button_drop outline">Check out</a>
                                    </li>
                                </ul>
                            </div><!-- End dropdown-cart-->
                        </li>
                    </ul>
                </nav>
            </div>
        </div><!-- container -->
    </header><!-- End Header -->
    
	<section id="search_container">
		<div id="search">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tours" data-toggle="tab">Tours</a></li>
				<li><a href="#hotels" data-toggle="tab">Hotels</a></li>
				<li><a href="#transfers" data-toggle="tab">Transfers</a></li>
				<li><a href="#restaurants" data-toggle="tab">Restaurants</a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="tours">
					<h3>Search Tours in Paris</h3>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Search terms</label>
								<input type="text" class="form-control" id="firstname_booking" name="firstname_booking" placeholder="Type your search terms">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Things to do</label>
								<select class="ddslick" name="category">
												<option value="0" data-imagesrc="{{url('/')}}/src/citytour/img/icons_search/all_tours.png" selected>All tours</option>
												<option value="1" data-imagesrc="{{url('/')}}/src/citytour/img/icons_search/sightseeing.png">City sightseeing</option>
												<option value="2"  data-imagesrc="{{url('/')}}/src/citytour/img/icons_search/museums.png">Museum tours</option>
												<option value="3" data-imagesrc="{{url('/')}}/src/citytour/img/icons_search/historic.png">Historic Buildings</option>
												<option value="4" data-imagesrc="{{url('/')}}/src/citytour/img/icons_search/walking.png">Walking tours</option>
												<option value="5" data-imagesrc="{{url('/')}}/src/citytour/img/icons_search/eat.png">Eat & Drink</option>
												<option value="6" data-imagesrc="{{url('/')}}/src/citytour/img/icons_search/churches.png">Churces</option>
												<option value="7" data-imagesrc="{{url('/')}}/src/citytour/img/icons_search/skyline.png">Skyline tours</option>
											</select>
							</div>
						</div>
					</div>
					<!-- End row -->
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label><i class="icon-calendar-7"></i> Date</label>
								<input class="date-pick form-control" data-date-format="M d, D" type="text">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label><i class=" icon-clock"></i> Time</label>
								<input class="time-pick form-control" value="12:00 AM" type="text">
							</div>
						</div>
						<div class="col-md-2 col-sm-3 col-xs-6">
							<div class="form-group">
								<label>Adults</label>
								<div class="numbers-row">
									<input type="text" value="1" id="adults" class="qty2 form-control" name="adults">
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-3 col-xs-6">
							<div class="form-group">
								<label>Children</label>
								<div class="numbers-row">
									<input type="text" value="0" id="children" class="qty2 form-control" name="children">
								</div>
							</div>
						</div>

					</div>
					<!-- End row -->
					<hr>
					<button class="btn_1 green"><i class="icon-search"></i>Search now</button>
				</div>
				<!-- End rab -->
				<div class="tab-pane" id="hotels">
					<h3>Search Hotels in Paris</h3>
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label><i class="icon-calendar-7"></i> Check in</label>
								<input class="date-pick form-control" data-date-format="M d, D" type="text">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label><i class="icon-calendar-7"></i> Check out</label>
								<input class="date-pick form-control" data-date-format="M d, D" type="text">
							</div>
						</div>
						<div class="col-md-2 col-sm-3 col-xs-5">
							<div class="form-group">
								<label>Adults</label>
								<div class="numbers-row">
									<input type="text" value="1" id="adults" class="qty2 form-control" name="adults_2">
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-3 col-xs-5">
							<div class="form-group">
								<label>Children</label>
								<div class="numbers-row">
									<input type="text" value="0" id="children" class="qty2 form-control" name="children_2">
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-3 col-xs-12">
							<div class="form-group">
								<label>Rooms</label>
								<div class="numbers-row">
									<input type="text" value="1" id="children" class="qty2 form-control" name="rooms">
								</div>
							</div>
						</div>
					</div>
					<!-- End row -->
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Hotel name</label>
								<input type="text" class="form-control" id="hotel_name" name="hotel_name" placeholder="Optionally type hotel name">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Preferred city area</label>
								<select class="form-control" name="area">
												<option value="Centre" selected>Centre</option>
												<option value="Gar du Nord Station">Gar du Nord Station</option>
												<option value="La Defance">La Defance</option>
											</select>
							</div>
						</div>
					</div>
					<!-- End row -->
					<hr>
					<button class="btn_1 green"><i class="icon-search"></i>Search now</button>
				</div>
				<div class="tab-pane" id="transfers">
					<h3>Search Transfers in Paris</h3>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="select-label">Pick up location</label>
								<select class="form-control">
												<option value="orly_airport">Orly airport</option>
												<option value="gar_du_nord">Gar du Nord Station</option>
												<option value="hotel_rivoli">Hotel Rivoli</option>
											</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="select-label">Drop off location</label>
								<select class="form-control">
												<option value="orly_airport">Orly airport</option>
												<option value="gar_du_nord">Gar du Nord Station</option>
												<option value="hotel_rivoli">Hotel Rivoli</option>
											</select>
							</div>
						</div>
					</div>
					<!-- End row -->
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label><i class="icon-calendar-7"></i> Date</label>
								<input class="date-pick form-control" data-date-format="M d, D" type="text">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label><i class=" icon-clock"></i> Time</label>
								<input class="time-pick form-control" value="12:00 AM" type="text">
							</div>
						</div>
						<div class="col-md-2 col-sm-3">
							<div class="form-group">
								<label>Adults</label>
								<div class="numbers-row">
									<input type="text" value="1" id="adults" class="qty2 form-control" name="quantity">
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-9">
							<div class="form-group">
								<div class="radio_fix">
									<label class="radio-inline" style="padding-left:0">
											  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked> One Way
											</label>
								</div>
								<div class="radio_fix">
									<label class="radio-inline">
											  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Return
											</label>
								</div>
							</div>
						</div>
					</div>
					<!-- End row -->
					<hr>
					<button class="btn_1 green"><i class="icon-search"></i>Search now</button>
				</div>
				<div class="tab-pane" id="restaurants">
					<h3>Search Restaurants in Paris</h3>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Search by name</label>
								<input type="text" class="form-control" id="restaurant_name" name="restaurant_name" placeholder="Type your search terms">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Food type</label>
								<select class="ddslick" name="category_2">
												<option value="0" data-imagesrc="{{url('/')}}/src/citytour/img/icons_search/all_restaurants.png" selected>All restaurants</option>
												<option value="1" data-imagesrc="{{url('/')}}/src/citytour/img/icons_search/fast_food.png">Fast food</option>
												<option value="2"  data-imagesrc="{{url('/')}}/src/citytour/img/icons_search/pizza_italian.png">Pizza / Italian</option>
												<option value="3" data-imagesrc="{{url('/')}}/src/citytour/img/icons_search/international.png">International</option>
												<option value="4" data-imagesrc="{{url('/')}}/src/citytour/img/icons_search/japanese.png">Japanese</option>
												<option value="5" data-imagesrc="{{url('/')}}/src/citytour/img/icons_search/chinese.png">Chinese</option>
												<option value="6" data-imagesrc="{{url('/')}}/src/citytour/img/icons_search/bar.png">Coffee Bar</option>
											</select>
							</div>
						</div>
					</div>
					<!-- End row -->
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label><i class="icon-calendar-7"></i> Date</label>
								<input class="date-pick form-control" data-date-format="M d, D" type="text">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label><i class=" icon-clock"></i> Time</label>
								<input class="time-pick form-control" value="12:00 AM" type="text">
							</div>
						</div>
						<div class="col-md-2 col-sm-3 col-xs-6">
							<div class="form-group">
								<label>Adults</label>
								<div class="numbers-row">
									<input type="text" value="1" id="adults" class="qty2 form-control" name="adults">
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-3 col-xs-6">
							<div class="form-group">
								<label>Children</label>
								<div class="numbers-row">
									<input type="text" value="0" id="children" class="qty2 form-control" name="children">
								</div>
							</div>
						</div>

					</div>
					<!-- End row -->
					<hr>
					<button class="btn_1 green"><i class="icon-search"></i>Search now</button>
				</div>
			</div>
		</div>
	</section>
	<!-- End hero -->

	<main>
		<div class="container margin_60">

			<div class="main_title">
				<h2>Paris <span>Top</span> Tours</h2>
				<p>Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.</p>
			</div>

			<div class="row">

				<div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
					<div class="ribbon_3 popular"><span>Popular</span></div>
					<div class="tour_container">
						<div class="img_container">
							<a href="single_tour.html">
								<img src="{{url('/')}}/src/citytour/img/tour_box_1.jpg" class="img-responsive" alt="Image">
								<div class="short_info">
									<i class="icon_set_1_icon-44"></i>Historic Buildings<span class="price"><sup>$</sup>39</span>
								</div>
							</a>
						</div>
						<div class="tour_title">
							<h3><strong>Arc Triomphe</strong> tour</h3>
							<div class="rating">
								<i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
							</div>
							<!-- end rating -->
							<div class="wishlist">
								<a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
							</div>
							<!-- End wish list-->
						</div>
					</div>
					<!-- End box tour -->
				</div>
				<!-- End col-md-4 -->

				<div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.2s">
					<div class="tour_container">
						<div class="ribbon_3 popular"><span>Popular</span></div>
						<div class="img_container">
							<a href="single_tour.html">
								<img src="{{url('/')}}/src/citytour/img/tour_box_2.jpg" width="800" height="533" class="img-responsive" alt="Image">
								<div class="badge_save">Save<strong>30%</strong></div>
								<div class="short_info">
									<i class="icon_set_1_icon-43"></i>Churches<span class="price"><sup>$</sup>45</span>
								</div>
							</a>
						</div>
						<div class="tour_title">
							<h3><strong>Notredame</strong> tour</h3>
							<div class="rating">
								<i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
							</div>
							<!-- end rating -->
							<div class="wishlist">
								<a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
							</div>
							<!-- End wish list-->
						</div>
					</div>
					<!-- End box tour -->
				</div>
				<!-- End col-md-4 -->

				<div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.3s">
					<div class="tour_container">
						<div class="ribbon_3 popular"><span>Popular</span></div>
						<div class="img_container">
							<a href="single_tour.html">
								<img src="{{url('/')}}/src/citytour/img/tour_box_3.jpg" width="800" height="533" class="img-responsive" alt="Image">
								<div class="badge_save">Save<strong>30%</strong></div>
								<div class="short_info">
									<i class="icon_set_1_icon-44"></i>Historic Buildings<span class="price"><sup>$</sup>48</span>
								</div>
							</a>
						</div>
						<div class="tour_title">
							<h3><strong>Versailles</strong> tour</h3>
							<div class="rating">
								<i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
							</div>
							<!-- end rating -->
							<div class="wishlist">
								<a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
							</div>
							<!-- End wish list-->
						</div>
					</div>
					<!-- End box tour -->
				</div>
				<!-- End col-md-4 -->

				<div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.4s">
					<div class="tour_container">
						<div class="ribbon_3 popular"><span>Popular</span></div>
						<div class="img_container">
							<a href="single_tour.html">
								<img src="{{url('/')}}/src/citytour/img/tour_box_4.jpg" width="800" height="533" class="img-responsive" alt="Image">
								<div class="short_info">
									<i class="icon_set_1_icon-30"></i>Walking tour<span class="price"><sup>$</sup>36</span>
								</div>
							</a>
						</div>
						<div class="tour_title">
							<h3><strong>Pompidue</strong> tour</h3>
							<div class="rating">
								<i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
							</div>
							<!-- end rating -->
							<div class="wishlist">
								<a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
							</div>
							<!-- End wish list-->
						</div>
					</div>
					<!-- End box tour -->
				</div>
				<!-- End col-md-4 -->

				<div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.5s">
					<div class="tour_container">
						<div class="ribbon_3"><span>Top rated</span></div>
						<div class="img_container">
							<a href="single_tour.html">
								<img src="{{url('/')}}/src/citytour/img/tour_box_14.jpg" width="800" height="533" class="img-responsive" alt="Image">
								<div class="short_info">
									<i class="icon_set_1_icon-28"></i>Skyline tours<span class="price"><sup>$</sup>42</span>
								</div>
							</a>
						</div>
						<div class="tour_title">
							<h3><strong>Tour Eiffel</strong> tour</h3>
							<div class="rating">
								<i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
							</div>
							<!-- end rating -->
							<div class="wishlist">
								<a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
							</div>
							<!-- End wish list-->
						</div>
					</div>
					<!-- End box tour -->
				</div>
				<!-- End col-md-4 -->

				<div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.6s">
					<div class="tour_container">
						<div class="ribbon_3"><span>Top rated</span></div>
						<div class="img_container">
							<a href="single_tour.html">
								<img src="{{url('/')}}/src/citytour/img/tour_box_5.jpg" width="800" height="533" class="img-responsive" alt="Image">
								<div class="short_info">
									<i class="icon_set_1_icon-44"></i>Historic Buildings<span class="price"><sup>$</sup>40</span>
								</div>
							</a>
						</div>
						<div class="tour_title">
							<h3><strong>Pantheon</strong> tour</h3>
							<div class="rating">
								<i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
							</div>
							<!-- end rating -->
							<div class="wishlist">
								<a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
							</div>
							<!-- End wish list-->
						</div>
					</div>
					<!-- End box tour -->
				</div>
				<!-- End col-md-4 -->

				<div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.7s">
					<div class="tour_container">
						<div class="ribbon_3"><span>Top rated</span></div>
						<div class="img_container">
							<a href="single_tour.html">
								<img src="{{url('/')}}/src/citytour/img/tour_box_8.jpg" width="800" height="533" class="img-responsive" alt="Image">
								<div class="short_info">
									<i class="icon_set_1_icon-3"></i>City sightseeing<span class="price"><sup>$</sup>35</span>
								</div>
							</a>
						</div>
						<div class="tour_title">
							<h3><strong>Open Bus</strong> tour</h3>
							<div class="rating">
								<i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
							</div>
							<!-- end rating -->
							<div class="wishlist">
								<a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
							</div>
							<!-- End wish list-->
						</div>
					</div>
					<!-- End box tour -->
				</div>
				<!-- End col-md-4 -->

				<div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.8s">
					<div class="tour_container">
						<div class="ribbon_3"><span>Top rated</span></div>
						<div class="img_container">
							<a href="single_tour.html">
								<img src="{{url('/')}}/src/citytour/img/tour_box_9.jpg" width="800" height="533" class="img-responsive" alt="Image">
								<div class="short_info">
									<i class="icon_set_1_icon-4"></i>Museums<span class="price"><sup>$</sup>38</span>
								</div>
							</a>
						</div>
						<div class="tour_title">
							<h3><strong>Louvre museum</strong> tour</h3>
							<div class="rating">
								<i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
							</div>
							<!-- end rating -->
							<div class="wishlist">
								<a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
							</div>
							<!-- End wish list-->
						</div>
					</div>
					<!-- End box tour -->
				</div>
				<!-- End col-md-4 -->

				<div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.9s">
					<div class="tour_container">
						<div class="ribbon_3"><span>Top rated</span></div>
						<div class="img_container">
							<a href="single_tour.html">
								<img src="{{url('/')}}/src/citytour/img/tour_box_12.jpg" width="800" height="533" class="img-responsive" alt="Image">
								<div class="short_info">
									<i class="icon_set_1_icon-14"></i>Eat &amp; drink<span class="price"><sup>$</sup>25</span>
								</div>
							</a>
						</div>
						<div class="tour_title">
							<h3><strong>Boulangerie</strong> tour</h3>
							<div class="rating">
								<i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
							</div>
							<!-- end rating -->
							<div class="wishlist">
								<a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
							</div>
							<!-- End wish list-->
						</div>
					</div>
					<!-- End box tour -->
				</div>
				<!-- End col-md-4 -->

			</div>
			<!-- End row -->
			<p class="text-center nopadding">
				<a href="#" class="btn_1 medium"><i class="icon-eye-7"></i>View all tours (144) </a>
			</p>
		</div>
		<!-- End container -->

		<div class="white_bg">
			<div class="container margin_60">
				<div class="main_title">
					<h2>Other <span>Popular</span> tours</h2>
					<p>
						Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.
					</p>
				</div>
				<div class="row add_bottom_45">
					<div class="col-md-4 other_tours">
						<ul>
							<li><a href="#"><i class="icon_set_1_icon-3"></i>Tour Eiffel<span class="other_tours_price">$42</span></a>
							</li>
							<li><a href="#"><i class="icon_set_1_icon-30"></i>Shopping tour<span class="other_tours_price">$35</span></a>
							</li>
							<li><a href="#"><i class="icon_set_1_icon-44"></i>Versailles tour<span class="other_tours_price">$20</span></a>
							</li>
							<li><a href="#"><i class="icon_set_1_icon-3"></i>Montparnasse skyline<span class="other_tours_price">$26</span></a>
							</li>
							<li><a href="#"><i class="icon_set_1_icon-44"></i>Pompidue<span class="other_tours_price">$26</span></a>
							</li>
							<li><a href="#"><i class="icon_set_1_icon-3"></i>Senna River tour<span class="other_tours_price">$32</span></a>
							</li>
						</ul>
					</div>
					<div class="col-md-4 other_tours">
						<ul>
							<li><a href="#"><i class="icon_set_1_icon-1"></i>Notredame<span class="other_tours_price">$48</span></a>
							</li>
							<li><a href="#"><i class="icon_set_1_icon-4"></i>Lafaiette<span class="other_tours_price">$55</span></a>
							</li>
							<li><a href="#"><i class="icon_set_1_icon-30"></i>Trocadero<span class="other_tours_price">$76</span></a>
							</li>
							<li><a href="#"><i class="icon_set_1_icon-3"></i>Open Bus tour<span class="other_tours_price">$55</span></a>
							</li>
							<li><a href="#"><i class="icon_set_1_icon-30"></i>Louvre museum<span class="other_tours_price">$24</span></a>
							</li>
							<li><a href="#"><i class="icon_set_1_icon-3"></i>Madlene Cathedral<span class="other_tours_price">$24</span></a>
							</li>
						</ul>
					</div>
					<div class="col-md-4 other_tours">
						<ul>
							<li><a href="#"><i class="icon_set_1_icon-37"></i>Montparnasse<span class="other_tours_price">$36</span></a>
							</li>
							<li><a href="#"><i class="icon_set_1_icon-1"></i>D'Orsey museum<span class="other_tours_price">$28</span></a>
							</li>
							<li><a href="#"><i class="icon_set_1_icon-50"></i>Gioconda Louvre musuem<span class="other_tours_price">$44</span></a>
							</li>
							<li><a href="#"><i class="icon_set_1_icon-44"></i>Tour Eiffel<span class="other_tours_price">$56</span></a>
							</li>
							<li><a href="#"><i class="icon_set_1_icon-50"></i>Ladefanse<span class="other_tours_price">$16</span></a>
							</li>
							<li><a href="#"><i class="icon_set_1_icon-44"></i>Notredame<span class="other_tours_price">$26</span></a>
							</li>
						</ul>
					</div>
				</div>
				<!-- End row -->

				<div class="banner colored add_bottom_30">
					<h4>Discover our Top tours <span>from $34</span></h4>
					<p>
						Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in.
					</p>
					<a href="single_tour.html" class="btn_1 white">Read more</a>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6 text-center">
						<p>
							<a href="#"><img src="{{url('/')}}/src/citytour/img/bus.jpg" alt="Pic" class="img-responsive"></a>
						</p>
						<h4><span>Sightseen tour</span> booking</h4>
						<p>
							Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
						</p>
					</div>
					<div class="col-md-3 col-sm-6 text-center">
						<p>
							<a href="#"><img src="{{url('/')}}/src/citytour/img/transfer.jpg" alt="Pic" class="img-responsive"></a>
						</p>
						<h4><span>Transfer</span> booking</h4>
						<p>
							Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
						</p>
					</div>
					<div class="col-md-3 col-sm-6 text-center">
						<p>
							<a href="#"><img src="{{url('/')}}/src/citytour/img/guide.jpg" alt="Pic" class="img-responsive"></a>
						</p>
						<h4><span>Tour guide</span> booking</h4>
						<p>
							Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
						</p>
					</div>
					<div class="col-md-3 col-sm-6 text-center">
						<p>
							<a href="#"><img src="{{url('/')}}/src/citytour/img/hotel.jpg" alt="Pic" class="img-responsive"></a>
						</p>
						<h4><span>Hotel</span> booking</h4>
						<p>
							Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
						</p>
					</div>
				</div>
				<!-- End row -->
			</div>
			<!-- End container -->
		</div>
		<!-- End white_bg -->

		<section class="promo_full">
			<div class="promo_full_wp magnific">
				<div>
					<h3>BELONG ANYWHERE</h3>
					<p>
						Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
					</p>
					<a href="https://www.youtube.com/watch?v=Zz5cu72Gv5Y" class="video"><i class="icon-play-circled2-1"></i></a>
				</div>
			</div>
		</section>
		<!-- End section -->

		<div class="container margin_60">

			<div class="main_title">
				<h2>Some <span>good</span> reasons</h2>
				<p>
					Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.
				</p>
			</div>

			<div class="row">

				<div class="col-md-4 wow zoomIn" data-wow-delay="0.2s">
					<div class="feature_home">
						<i class="icon_set_1_icon-41"></i>
						<h3><span>+120</span> Premium tours</h3>
						<p>
							Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
						</p>
						<a href="about.html" class="btn_1 outline">Read more</a>
					</div>
				</div>

				<div class="col-md-4 wow zoomIn" data-wow-delay="0.4s">
					<div class="feature_home">
						<i class="icon_set_1_icon-30"></i>
						<h3><span>+1000</span> Customers</h3>
						<p>
							Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
						</p>
						<a href="about.html" class="btn_1 outline">Read more</a>
					</div>
				</div>

				<div class="col-md-4 wow zoomIn" data-wow-delay="0.6s">
					<div class="feature_home">
						<i class="icon_set_1_icon-57"></i>
						<h3><span>H24 </span> Support</h3>
						<p>
							Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
						</p>
						<a href="about.html" class="btn_1 outline">Read more</a>
					</div>
				</div>

			</div>
			<!--End row -->

			<hr>

			<div class="row">
				<div class="col-md-8 col-sm-6 hidden-xs">
					<img src="{{url('/')}}/src/citytour/img/laptop.png" alt="Laptop" class="img-responsive laptop">
				</div>
				<div class="col-md-4 col-sm-6">
					<h3><span>Get started</span> with CityTours</h3>
					<p>
						Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
					</p>
					<ul class="list_order">
						<li><span>1</span>Select your preferred tours</li>
						<li><span>2</span>Purchase tickets and options</li>
						<li><span>3</span>Pick them directly from your office</li>
					</ul>
					<a href="all_tour_list.html" class="btn_1">Start now</a>
				</div>
			</div>
			<!-- End row -->

		</div>
		<!-- End container -->
	</main>
	<!-- End main -->
	
	<footer class="revealed">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-3">
                    <h3>Need help?</h3>
                    <a href="tel://004542344599" id="phone">+45 423 445 99</a>
                    <a href="mailto:help@citytours.com" id="email_footer">help@citytours.com</a>
                </div>
                <div class="col-md-3 col-sm-3">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Register</a></li>
                         <li><a href="#">Terms and condition</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3">
                    <h3>Discover</h3>
                    <ul>
                        <li><a href="#">Community blog</a></li>
                        <li><a href="#">Tour guide</a></li>
                        <li><a href="#">Wishlist</a></li>
                         <li><a href="#">Gallery</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-3">
                    <h3>Settings</h3>
                    <div class="styled-select">
                        <select class="form-control" name="lang" id="lang">
                            <option value="English" selected>English</option>
                            <option value="French">French</option>
                            <option value="Spanish">Spanish</option>
                            <option value="Russian">Russian</option>
                        </select>
                    </div>
                    <div class="styled-select">
                        <select class="form-control" name="currency" id="currency">
                            <option value="USD" selected>USD</option>
                            <option value="EUR">EUR</option>
                            <option value="GBP">GBP</option>
                            <option value="RUB">RUB</option>
                        </select>
                    </div>
                </div>
            </div><!-- End row -->
            <div class="row">
                <div class="col-md-12">
                    <div id="social_footer">
                        <ul>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-google"></i></a></li>
                            <li><a href="#"><i class="icon-instagram"></i></a></li>
                            <li><a href="#"><i class="icon-pinterest"></i></a></li>
                            <li><a href="#"><i class="icon-vimeo"></i></a></li>
                            <li><a href="#"><i class="icon-youtube-play"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        </ul>
                        <p>© Citytours 2015</p>
                    </div>
                </div>
            </div><!-- End row -->
        </div><!-- End container -->
    </footer><!-- End footer -->

	<div id="toTop"></div><!-- Back to top button -->
	
	<!-- Search Menu -->
	<div class="search-overlay-menu">
		<span class="search-overlay-close"><i class="icon_set_1_icon-77"></i></span>
		<form role="search" id="searchform" method="get">
			<input value="" name="q" type="search" placeholder="Search..." />
			<button type="submit"><i class="icon_set_1_icon-78"></i>
			</button>
		</form>
	</div><!-- End Search Menu -->

 <!-- Common scripts -->
<script src="{{url('/')}}/src/citytour/js/jquery-2.2.4.min.js"></script>
<script src="{{url('/')}}/src/citytour/js/common_scripts_min.js"></script>
<script src="{{url('/')}}/src/citytour/js/functions.js"></script>

 <!-- Specific scripts -->
<script src="{{url('/')}}/src/citytour/js/icheck.js"></script>
<script>
$('input').iCheck({
   checkboxClass: 'icheckbox_square-grey',
   radioClass: 'iradio_square-grey'
 });
 </script>
 <script src="{{url('/')}}/src/citytour/js/bootstrap-datepicker.js"></script>
 <script src="{{url('/')}}/src/citytour/js/bootstrap-timepicker.js"></script>
 <script>
  $('input.date-pick').datepicker('setDate', 'today');
  $('input.time-pick').timepicker({
    minuteStep: 15,
    showInpunts: false
})
  </script>
  <script src="{{url('/')}}/src/citytour/js/jquery.ddslick.js"></script>
   <script>
   $("select.ddslick").each(function(){
            $(this).ddslick({
                showSelectedHTML: true 
            });
        });
        </script>
  </body>
</html>